<section id="about" class="about-section">
  <div class="content-container">
    <div class="about-content">
      <div class="about-image">
        <img src="designs/images/placeholder/Photo.svg" alt="Phillip Schulze" class="profile-photo" />
      </div>
      
      <div class="about-info">
        <span class="section-label">Who I Am</span>
        <div class="about-card">
          <h2 class="section-title">About me</h2>
          <p class="about-text">
            Hey there, I'm Phillip! With some information about yourself and experience, you can write about who you are and what is your source of inspiration for improving your programming skills.
          </p>
          
          <div class="about-features">
            <div class="feature">
              <img src="designs/images/aboutme/location_icon.svg" alt="Location" class="feature-icon" />
              <span>Where are you based? Would you be open to working remotely or potentially relocating?</span>
            </div>
            <div class="feature">
              <img src="designs/images/aboutme/head_icon.svg" alt="Mind" class="feature-icon" />
              <span>Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills?</span>
            </div>
            <div class="feature">
              <img src="designs/images/aboutme/verify_icon.svg" alt="Approach" class="feature-icon" />
              <span>A brief description of your problem-solving approach. Do you learn from each challenge as you search for the most efficient or elegant solution? You can include some keywords like: analytical thinking, creativity, persistence and collaboration.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
