<section id="skills" class="skills-section">
  <div class="background-dot"></div>
  <div class="content-container">
    <span class="section-label">{{ 'skills.technologies' | translate }}</span>
    <div class="skills-content">
      <div class="skills-card">
        <div class="skills-info">
          <h2 class="section-title">{{ 'skills.skillset' | translate }}</h2>
          <p class="skills-description">
            {{ 'skills.intro' | translate }}
          </p>
          <h3 class="skills-subtitle">{{ 'skills.anotherSkill' | translate }}</h3>
          <p class="skills-description">
            {{ 'skills.contactMe' | translate }}
          </p>
          <button class="skills-btn" (click)="scrollToContact()">
            <span class="text-static">{{ 'skills.letsTalk' | translate }}</span>
            <span class="text-loop">{{ 'skills.letsTalk' | translate }}</span>
          </button>
        </div>
      </div>
      
      <div class="tech-grid">
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/html.svg" alt="HTML" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/html.svg" alt="HTML" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">HTML</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/stylesheet.svg" alt="CSS" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/stylesheet.svg" alt="CSS" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">CSS</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/java_script.svg" alt="JavaScript" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/java_script.svg" alt="JavaScript" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">JavaScript</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/type_script.svg" alt="TypeScript" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/type_script.svg" alt="TypeScript" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">TypeScript</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/angular.svg" alt="Angular" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/angular.svg" alt="Angular" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">Angular</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/firebase.svg" alt="Firebase" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/firebase.svg" alt="Firebase" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">Firebase</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/git_hub.svg" alt="Git" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/git_hub.svg" alt="Git" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">Git</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/scrum.svg" alt="Scrum" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/scrum.svg" alt="Scrum" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">Scrum</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/rest_api.svg" alt="REST API" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/rest_api.svg" alt="REST API" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">REST-Api</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/material_design.svg" alt="Material Design" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/material_design.svg" alt="Material Design" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">Material Design</span>
        </div>
        <div class="tech-item">
          <div class="icon-wrapper">
            <img src="/designs/images/languages/growth_mindset.svg" alt="Growth Mindset" class="icon-default" loading="lazy" />
            <img src="/designs/images/languages/growth_mindset.svg" alt="Growth Mindset" class="icon-hover" loading="lazy" />
          </div>
          <span class="tech-label">Growth Mindset</span>
        </div>
      </div>
    </div>
  </div>
</section>