header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  // Gradient Overlay
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.38) 50%,
    rgba(0, 0, 0, 0.22) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  
  padding-bottom: 0.5rem;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

    .logo {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
