// ============================================
// FONT FACE DECLARATIONS
// ============================================

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
