@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.footer {
  @include flex-center;
  @include content-container;
  background: $color-bg-dark;
  min-height: 200px;
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;

  .footer-copyright {
    font-size: $font-size-body;
    color: $color-primary;
    text-align: center;
    margin: 0;
  }
}

.footer-left {
  @include flex-column($gap-xxs);
  align-items: start;

  p {
    font-size: $font-size-body;
    color: $color-text-light;
    margin: 0;
  }

  .logo {
    @include flex-center;
    gap: $gap-xxs;
    margin-bottom: $gap-xxs;

    .logo-icon {
      @include flex-center;
      width: 30px;
      height: 30px;
      background: $color-primary;
      color: $color-bg-dark;
      border-radius: $radius-xs;
      font-size: $font-size-h6;
      font-weight: $font-weight-bold;
    }

    .logo-text {
      color: $color-text-light;
      font-size: $font-size-h5;
      font-weight: $font-weight-semibold;
    }
  }
}

.footer-right {
  @include flex-column($gap-xxs);

  a {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    @include transition(color, $transition-fast);
    font-size: $font-size-body;
    text-decoration: none;
    color: $color-text-light;

    &::before {
      content: '•';
      color: transparent;
      font-size: $font-size-body;
      @include transition(color, $transition-fast);
    }

    &:hover {
      color: $color-primary;

      &::before {
        color: $color-primary;
      }
    }
  }
}

.copyright-mobile {
  display: none;
  font-size: $font-size-body;
  color: $color-primary;
  text-align: center;
  margin: 0;
}

// Responsive
@include respond-to('tablet') {
  .footer {
    flex-direction: column;
    gap: $gap-xs;
    height: auto;
    padding: $container-padding-md $gap-xs;
  }

  .footer-right {
    gap: 0;

    a {
      font-size: $font-size-body;
    }
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    .footer-copyright {
      display: none;
    }
  }

  .footer-left {
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    p {
      font-size: $font-size-body;
    }
  }

  .copyright-mobile {
    display: block;
  }
}