<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <div class="logo">
        <span class="logo-icon">P</span>
        <span class="logo-text">Phillip</span>
      </div>
      <p>Frontend Developer</p>
      <p>Germany</p>
    </div>
    
    <p class="footer-copyright">© Phillip Schulze 2025</p>
    
    <div class="footer-right">
      <a href="https://github.com/Ph1L-s" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/phillip-s-141093384/" target="_blank">LinkedIn</a>
      <a href="mailto:phillips96.business@gmail.com">Email</a>
      <a routerLink="/legal">Legal Notice</a>
    </div>
  </div>
  <p class="copyright-mobile">© Phillip Schulze 2025</p>
</footer>
