<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <div class="logo" [class.expanded]="isExpanded" (click)="scrollToTop()" style="cursor: pointer;">
        <div class="names-container">
          <div class="name-first">
            <span class="char">P</span>
            <span class="expand-text">illip</span>
          </div>
          <div class="name-last">
            <span class="char">S</span>
            <span class="expand-text">chulze</span>
          </div>
        </div>
      </div>
      <p>{{ 'footer.fullstack' | translate }}</p>
      <p>{{ 'footer.location' | translate }}</p>
    </div>

    <p class="footer-copyright">© Phillip Schulze 2025</p>

    <div class="footer-right">
      <a href="https://github.com/Ph1L-s" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/phillip-s-141093384/" target="_blank">LinkedIn</a>
      <a href="mailto:phillips96.business@gmail.com">Email</a>
      <a routerLink="/legal">{{ 'footer.legal' | translate }}</a>
      <a routerLink="/privacy">{{ 'footer.privacy' | translate }}</a>
    </div>
  </div>
  <p class="copyright-mobile">© Phillip Schulze 2025</p>
</footer>
